/* This is
a body thingy */
.class {
  width: 10px;
}

/**
Ignore me
*/

@each $font in (times courier) {
  @each $number in (1 2 3) {
    $tag: "h#{$number}";
    /*!!
      @typography
      @font #{$font}
      @example
        <#{$tag}>Title</#{$tag}>
    */
    #{$tag} {
      font-size: (45 / $number) * 1px;
      font: $font;
    }
  }
}
